{% extends "__base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block messages %}
    {% include '_messages.html' %}
{% endblock %}

{% block slider %}
    {% include 'visual_site_elements/sliders/sliders.html' with object_list=sliders thumbs=slider_thumbs %}
{% endblock slider %}

{% block content %}

{% endblock content %}


{% block portfolio %}
    {% include '_portfolio.html' with object_list=projects %}
{% endblock portfolio %}

{% block awesome_work %}
    {% include '_awesome_work.html' with object_list=awesome_content %}
{% endblock awesome_work %}








