{% load staticfiles thumbnail %}

{#{% thumbnail "http://www.aino.se/media/i/logo.png" "40x40" crop="80% top" as im %}#}
{#    <img src="{{ im.url }}">#}
{#{% endthumbnail %}#}

<!-- REVOLUTION SLIDER -->
<div class="fullwidthbanner-container roundedcorners">

    <div class="fullwidthbanner">
        <ul>

            <!-- SLIDE  -->
            <li data-transition="boxslide" data-slotamount="5"
                data-link="#" data-slideindex="back">

                <!-- COVER IMAGE -->
{#                <img src="{% static 'images/demo/revolution_slider/5378467111_e8b9e98f8f_o.jpg' %}"#}
{#                     alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />#}
                <img src="{% static 'images/home_slider_images/slider-3.jpg' %}"
                     alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                <div class="tp-caption very_large_text lfl stl"
                    data-x="right" data-hoffset="-30"
                    data-y="293"
                    data-speed="300"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-endspeed="300"
                    data-endeasing="easeInSine">PROJE ÇÖZÜMLERİ
                </div>

                <div class="tp-caption large_bold_grey medium_thin_grey lfl stl"
                    data-x="right" data-hoffset="-30"
                    data-y="260"
                    data-speed="300"
                    data-start="800"
                    data-easing="easeOutExpo"
                    data-endspeed="300"
                    data-endeasing="easeInSine">
                    <a href="{% url 'home' %}"><b>KARNAS TEKNOLOJİ GRUP</b></a>
                </div>

                <div class="tp-caption randomrotate"
                    data-x="48"
                    data-y="131"
                    data-speed="600"
                    data-start="1100"
                    data-easing="easeOutExpo">
{#                    {% thumbnail "{% static 'images/home_slider_images/random_images/rand-1.jpg' %}" "140x140" crop="center" as im %}#}
{#                    <img src="{{ im.url }}">#}
{#                    {% endthumbnail %}#}
                </div>

                <div class="tp-caption randomrotate"
                    data-x="90"
                    data-y="206"
                    data-speed="600"
                    data-start="1200"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/2.jpg' %}" width="140" height="140" alt="Image 3">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="205"
                    data-y="140"
                    data-speed="600"
                    data-start="1300"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/3.jpg' %}" width="140" height="140" alt="Image 4">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="188"
                    data-y="246"
                    data-speed="300"
                    data-start="1400"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/4.jpg' %}" width="140" height="140" alt="Image 5">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="55"
                    data-y="316"
                    data-speed="600"
                    data-start="1500"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/5.jpg' %}" width="140" height="140" alt="Image 6">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="173"
                    data-y="329"
                    data-speed="300"
                    data-start="1600"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/6.jpg' %}" width="140" height="140" alt="Image 7">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="255"
                    data-y="294"
                    data-speed="300"
                    data-start="1700"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/7.jpg' %}" width="140" height="140" alt="Image 8">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="275"
                    data-y="166"
                    data-speed="300"
                    data-start="1800"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/8.jpg' %}" width="140" height="140" alt="Image 9">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="84"
                    data-y="113"
                    data-speed="300"
                    data-start="1900"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/5.jpg' %}" width="140" height="140" alt="Image 10">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="26"
                    data-y="225"
                    data-speed="300"
                    data-start="2000"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/4.jpg' %}" width="140" height="140" alt="Image 11">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="110"
                    data-y="187"
                    data-speed="300"
                    data-start="2100"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/3.jpg' %}" width="140" height="140" alt="Image 12">
                </div>

                <div class="tp-caption randomrotate"
                    data-x="183"
                    data-y="221"
                    data-speed="300"
                    data-start="2200"
                    data-easing="easeOutExpo">
                    <img src="{% static 'images/demo/portfolio/slider/2.jpg' %}" width="140" height="140" alt="Image 13">
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="3dcurtain-vertical" data-slotamount="14"
                data-masterspeed="300" data-delay="15000">

                <!-- COVER IMAGE -->
                <img src="{% static 'images/home_slider_images/video-bg-2.jpg' %}"
                     alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                <div class="tp-caption lft boxshadow"
                    data-x="70"
                    data-y="70"
                    data-speed="900"
                    data-start="500"
                    data-easing="easeOutBack">
                    <iframe src='https://www.youtube.com/embed/4zSStF-UpiA' width='640' height='360'
                            style='width:640px; height:360px;'>
                    </iframe>
                </div>

                <div class="tp-caption sft large_bold_grey"
                    data-x="750"
                    data-y="70"
                    data-speed="300"
                    data-start="1200"
                    data-easing="easeOutExpo">VIDEOWALL
                </div>

                <div class="tp-caption sft modern_big_redbg"
                    data-x="750"
                    data-y="164"
                    data-speed="300"
                    data-start="1300"
                    data-easing="easeOutExpo">Yazılımsal Kontroller
                </div>

                <div class="tp-caption lfb thinheadline_dark"
                    data-x="750"
                    data-y="210"
                    data-speed="300"
                    data-start="1400"
                    data-easing="easeOutExpo">IP tabanlı yazılımsal
                </div>

                <div class="tp-caption lfb thinheadline_dark"
                    data-x="750"
                    data-y="244"
                    data-speed="300"
                    data-start="1500"
                    data-easing="easeOutExpo">Kontroller sistemlerimiz ile
                </div>

                <div class="tp-caption lfb thinheadline_dark"
                    data-x="750"
                    data-y="278"
                    data-speed="300"
                    data-start="1600"
                    data-easing="easeOutExpo">ekonomik ve esnek
                </div>

                <div class="tp-caption lfb thinheadline_dark"
                    data-x="750"
                    data-y="312"
                    data-speed="300"
                    data-start="1700"
                    data-easing="easeOutExpo">videowall çözümleri
                </div>

                <div class="tp-caption lfb thinheadline_dark"
                    data-x="750"
                    data-y="346"
                    data-speed="300"
                    data-start="1800"
                    data-easing="easeOutExpo">sunuyoruz.
                </div>

                <div class="tp-caption lfb medium_bg_darkblue"
                    data-x="750"
                    data-y="390"
                    data-speed="300"
                    data-start="1600"
                    data-easing="easeOutExpo"><i class="fa fa-th"></i> Mauell
                </div>

                <div class="tp-caption lfb medium_bg_orange"
                    data-x="860"
                    data-y="390"
                    data-speed="300"
                    data-start="1600"
                    data-easing="easeOutExpo"><i class="fa fa-th"></i> Userful
                </div>

            </li>

        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /REVOLUTION SLIDER -->
