{% load staticfiles i18n compress%}
{% load flatpages %}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}KARNAS Teknoloji Grup | CCTV | Video Konferans Sistemleri | Projeksiyon Cihazları | LCD ve Plazma Monitörler | Akıllı Tahtalar | Digital Signage Sistemleri {% endblock %}</title>
        <meta name="keywords" content="Video Konferans, Video Confecencing,
        Görüntülü toplantı, Kamera Güvenlik, CCTV, Akıllı Tahta, Smart Board, qboard,
        Digital Signage, Lcd Monitör, Plazma, Plasma, PlazmaTv, Projeksiyon, Projektör,
        Projektor, Sinevizyon, Barkovizyon,  Panasonic Plazma Tv, SONY Plazma,
        Projeksiyon Ampul, Projeksiyon Lamba, En İyi Fiyat, Ucuz Fiyat" />
        <meta name="description" content="" />
        <meta name="Author" content="KARNAS - WebMaster" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <!-- WEB FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

        {% include '_head_css.html' %}

        <!-- Modernizr -->
        <script type="text/javascript" src="{% static 'plugins/modernizr.min.js' %}"></script>

        <style>
            {% block style %}{% endblock %}
        </style>

    </head>
	<body><!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="images/boxed_background/1.jpg"  -->

        {% include '_header.html' %}

        {% include '_top_nav.html' with object_list=menu_items %}

		<!-- WRAPPER -->
		<div id="wrapper">

        {% block messages %} {% endblock %}

        {% block slider %} {% endblock slider %}

        {% block content %} {% endblock content %}

        {% block portfolio %} {% endblock portfolio %}

        {% block awesome_work %} {% endblock awesome_work %}

		</div>
		<!-- /WRAPPER -->

        {% include '_footer.html' %}

        {% include '_javascript.html' %}

        {% block javascript %} {% endblock javascript %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-641345-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-641345-1');
        </script>
    </body>
</html>s
