{% load static %}

<!-- WE DO AWSOME WORK -->
<section class="container margin-top100">
    <h1>
        Faaliyet Alanlarımız
    </h1>

{#    <p class="lead">Aşağıdaki konulardaki tüm ihtiyaçlarınızı üstün hizmet anlayışmız ile çözmeye hazırız.</p>#}

    <hr /><!-- separator -->

    <!-- FEATURED BOXES 4 -->
    <div class="row featured-box-minimal margin-bottom30">
        <div class="col-md-4">
            <h4><i class="fa fa-th"></i> Videowall / Videowall Kontrol Cihazları</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
        </div>
        <div class="col-md-4">
            <h4> <i class="fa fa-video-camera"></i> CCTV : Kapalı Devre Güvenlik Sistemleri</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
        </div>
        <div class="col-md-4">
            <h4><i class="fa fa-television"></i> Profesyonel Monitörler</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
        </div>
    </div>
    <!-- /FEATURED BOXES 4 -->

    <!-- FEATURED BOXES 4 -->
    <div class="row featured-box-minimal margin-bottom30">
        <div class="col-md-4">
            <h4><i class="fa fa-unlock-alt"></i> Elektronik Kilit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
        </div>
        <div class="col-md-4">
            <h4> <i class="fa fa-phone"></i> Video Konferans Sistemleri</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
        </div>
        <div class="col-md-4">
            <h4><i class="fa fa-id-card"></i> Geçiş Kontrol Sistemleri</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
        </div>
    </div>
    <!-- /FEATURED BOXES 4 -->

    <!-- CALLOUT -->
    <div class="bs-callout text-center nomargin-bottom">
        <h3><strong>Aggressive creativity</strong> is our habit! <a href="contact-us.html" target="_blank" class="btn btn-primary btn-lg">Ok, I'm In!</a></h3>
    </div>
    <!-- /CALLOUT -->

</section>
<!-- /WE DO AWSOME WORK -->
