{% load static %}

<!-- WE DO AWSOME WORK -->
<section class="container margin-top100">
    <h1>
        Faaliyet Alanlarımız
    </h1>

{#    <p class="lead">Aşağıdaki konulardaki tüm ihtiyaçlarınızı üstün hizmet anlayışmız ile çözmeye hazırız.</p>#}

    <hr /><!-- separator -->

    <!-- FEATURED BOXES 4 -->
    <div class="row featured-box-minimal margin-bottom30">
        <div class="col-md-4">
            <h4><i class="fa fa-th"></i> Videowall / Videowall Kontrol Cihazları</h4>
            <p>
                Birden çok panelin çeşitli matris kombinasyonlarında konumlandırılmasıyla oluşturulan videowall
                sistemleri normal standartların üzerinde çözünürlük ve görüntü kalitesi sağlayabilen dev ekranlardır.
                Videowall ürünleri genellikle normalin üzerinde boyutlara sahip alanlarda tercih edilir.
                Videowall ekranları ve kontrol cihazları çözümlerimiz hakkında bilgi almak için bizimle iletişime 
                geçebilirsiniz.
            </p>
        </div>
        <div class="col-md-4">
            <h4> <i class="fa fa-video-camera"></i> CCTV : Kapalı Devre Güvenlik Sistemleri</h4>
            <p>
                İç ortam veya dış ortam güvenliğini sağlama amacıyla kurulan CCTV çözümleri, gelişen teknolojiye paralel
                olarak kullanıcı ihtiyacına göre çeşitlenebilmektedir. CCTV sistemlerinde, kullanım amacı ve yerine
                bağlı olarak ihtiyacınıza uygun farklı çözüm önerilerimiz için bizimle iletişime geçebilirsiniz.
            </p>
        </div>
        <div class="col-md-4">
            <h4><i class="fa fa-television"></i> Profesyonel Monitörler</h4>
            <p>
                İç ve dış mekanlarda kullanabileceğiniz, özel tasarım imkanı sunan 10,1 inchten 98 inche kadar çeşitli
                ebatlardaki monitörlerimiz; ihtiyaca göre 7/16 veya 7/24 performans, yüksek görüntü kalitesi ya da
                yüksek parkalık gerektiren uygulamalarda, iç ortam veya dış ortamlarda kullanılabilmektedirler.
                Projelerinize özel çözümlerimiz için bizimle iletişime geçebilirsiniz.
            </p>
        </div>
    </div>
    <!-- /FEATURED BOXES 4 -->

    <!-- FEATURED BOXES 4 -->
    <div class="row featured-box-minimal margin-bottom30">
        <div class="col-md-4">
            <h4><i class="fa fa-unlock-alt"></i> Elektronik Kilit</h4>
            <p>
                Konforlu kullanım ve yönetilebilirlilik özellikleri, kopyalanamayan kartlarla kusursuz güvenlik ve 7/24
                servis güvencesi ile tam konfor, tam kontrol. Detaylar için bizimle iletişime geçebilirsiniz.
            </p>
        </div>
        <div class="col-md-4">
            <h4> <i class="fa fa-phone"></i> Video Konferans Sistemleri</h4>
            <p>
                Video konferans, telekonferans ve toplantı odaları sistemlerimiz tüm kullanıcılar için fark
                yaratan çözümler içermektedir. Günümüzde stratejik planlama ve karar verme hızlarının önemli olduğu
                tüm alanlarda video konferans sistemleri hem iç iletişim hem de müşteriler ile iletişimde her geçen
                gün daha çok tercih edilmektedir. Size özel çözümlerimiz için bizimle iletişime geçebilirsiniz.
            </p>
        </div>
        <div class="col-md-4">
            <h4><i class="fa fa-id-card"></i> Geçiş Kontrol Sistemleri</h4>
            <p>
                Projenize özel yazılım çözümleri ile birlikte sunduğumuz geçiş kontrol sitemleri ile güvenlik ve kontrol
                sizler için sorun olmaktan çıkacak. Detaylar için bizimle iletişime geçebilirsiniz.
            </p>
        </div>
    </div>
    <!-- /FEATURED BOXES 4 -->

    <!-- CALLOUT -->
    <div class="bs-callout text-center nomargin-bottom">
        <h3><strong>Uzman ekibimiz sorularınızı bekliyor!</strong> Tüm sorularınız için
            <a href="{% url 'contact' %}" target="_blank" class="btn btn-primary btn-lg">Tıklayın!</a>
        </h3>
    </div>
    <!-- /CALLOUT -->

</section>
<!-- /WE DO AWSOME WORK -->
