		<!-- Top Bar -->
		<header id="topHead">
			<div class="container">

				<!-- PHONE/EMAIL -->
				<span class="quick-contact pull-left">
					<i class="fa fa-phone"></i> +90 (212) 217 1306 &bull;
					<a class="hidden-xs" href="mailto:info@karnas.com.tr">info@karnas.com.tr</a>
				</span>
				<!-- /PHONE/EMAIL -->

				<!-- LINKS -->
				<div class="pull-right nav hidden-xs">
{#                    <a href='{% url "hakkimizda" %}'><i class="fa fa-angle-right"></i> Hakkımızda</a>#}
					<a href="{% url 'contact' %}"><i class="fa fa-address-card"></i> İletişim </a>
				</div>
				<!-- /LINKS -->

			</div>
		</header>
		<!-- /Top Bar -->
